<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<%-include('particles/navbar.ejs')%>
<div class="container">
    <h1>Welcome to Blog</h1>
    <p><strong>i will use some text,
         </strong> and full this page</p>

    <p> My name is Aizhan </p>

    <p>learning BackEnd course</p>

    <a href="/blog">Go to the blog</a>
</div>
</body>
</html>