
<link rel="stylesheet" type="text/css" href="/style.css">
<nav class="navbar">
    <div class="navbar-brand">
        <a style="color: #007BFF; margin-left: 10%" href="/">VTentakle</a>
    </div>
    <ul class="navbar-links">
        <li><a href="/">Main</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/add-post">Add post</a></li>
    </ul>
</nav>